.navbar-inverse {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  border-color: #051937 !important;
  text-align: center;
  height: 150px;
  display: grid;
  position: relative; }
  .navbar-inverse .container {
    display: grid; }
    .navbar-inverse .container a {
      font-size: 30px;
      color: white;
      font-weight: bolder;
      font-family: cursive; }

body {
  padding-top: 0 !important;
  /* Safari */ }
  body .body-content {
    margin-top: 15px;
    overflow: auto; }
  body h2 {
    margin-bottom: 15px;
    margin-top: 0;
    color: #00ab7e;
    font-family: serif;
    font-style: italic; }
  body .show-scroll {
    height: 580px;
    overflow-y: scroll; }
  body #page-data ul {
    list-style-type: none;
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
    -webkit-padding-start: 0 !important; }
    body #page-data ul li {
      min-height: 300px;
      text-align: center; }
      body #page-data ul li img {
        height: 150px;
        width: 266px; }
      body #page-data ul li p {
        font-size: 8px; }
  body .load-more {
    float: right;
    margin-top: 15px; }
    body .load-more .btn-primary {
      color: #ffffff;
      background-color: #009d85 !important;
      border-color: #009d85 !important; }
      body .load-more .btn-primary :hover, body .load-more .btn-primary :active, body .load-more .btn-primary :focus {
        background-color: #62ccbc !important; }
  @media only screen and (max-width: 991px) {
    body .modal-dialog {
      width: 100% !important;
      height: 100% !important; } }
  @media only screen and (max-width: 768px) {
    body .header {
      text-align: center; }
    body .load-more {
      float: none;
      text-align: center; } }
  body .modal-dialog {
    width: 70%;
    height: 100%; }
    body .modal-dialog .modal-content {
      border-radius: 0 !important; }
      body .modal-dialog .modal-content .modal-header {
        color: black;
        opacity: 1; }
        body .modal-dialog .modal-content .modal-header button {
          color: black;
          opacity: 1;
          z-index: 100000000; }
      body .modal-dialog .modal-content .modal-body {
        position: relative;
        padding: 0 !important;
        height: 600px; }
  body #page-data::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5; }
  body #page-data::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
  body #page-data::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #009e86; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  body .loader {
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 0px solid #004947;
    border-radius: 50%;
    border-top: 16px solid #004947;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite; }

.error-message-wrapper h4 {
  margin: 30px;
  color: red; }

